<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenTestSuite">
	<listeners>
		<listener class-name = "Common.Listerners" />
	</listeners>
  <test name="MercuryTest">
    <classes>
      <class name="Common.Main"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
