<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenTestSuite" allow-return-values="true">
  <test name="TestOne">
    <classes>
      <class name="Common.Main"/>
      <!-- <class name="TestScripts.Login"/>  -->
    </classes>
  </test> <!-- TestOne -->
</suite> <!-- MavenTestSuite -->
